body {
  font-family: "Lato", sans-serif;
}
.head {
  background-color: #5e175b;
  text-align: center;
  padding: 15px;
  color: white;
}
ul {
  background-color: #f4f4f4;
}
.list li {
  list-style: none;
  font-size: 30px;
}
.middle-head {
  color: purple;
  font-size: 40px;
}
.description {
  font-size: 20px;
}
