body {
  font-family: "Lato", sans-serif;
}
.head {
  background: purple;
  text-align: center;
  padding: 15px;
}

.list li {
  list-style: none;
  font-size: 30px;
}
.middle-head {
  color: purple;
  font-size: 40px;
}
.description {
  font-size: 20px;
}
