.container {
  width: 1100px;
  margin: 15% auto;
  padding: 20px;
}

img {
  max-width: 100%;
}
/* 100% means 100% of container and 100vh means 100% of screen */
.container1 {
  background: coral;
  width: 50vw;
  /* height:50%; */
}
.container1 h1 {
  font-size: 6vw;
}

/* 576px smartphone */
/* 768px tablets */
/* 992px desktop */
/* 1024px landscape */
/* 1200px desktop / widescreen */

@media screen and (max-width: 1200px) {
  .WideScreen {
    background: coral;
  }
}

@media (max-width: 992px) {
  .Normal {
    background: green;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .Smartphone {
    background: #333;
  }
}
