.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  /* transition:background-color 0.5s ease-in-out; */
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: #0056b3;
  color: yellow;
  width: 300px;
  border-radius: 30px;
  opacity: 0.5;
  box-shadow: 2px 2px 5px rgba(81, 43, 43, 0.7);
}

.transform {
  max-width: 60%;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}
transform:hover {
  transform: rotate(-90deg);
  transform: translateX(-300px);
  transform: translate(200px, 200px);
}

.section {
  margin: 30px auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-section {
  width: 200px;
  height: 300px;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}
.card:hover {
  transform: rotateY(180deg);
}
.front {
  background: #3497dc;
  color: #fff;
  line-height: 300px;
}
.back {
  background: #2ecc71;
  color: #fff;
  line-height: 300px;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
}
